* {
    padding: 0;
    margin: 0;
}


/* @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.woff);
    font-weight: 500;
} */

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #000 !important;
    font-size: 18px;
    font-weight: 400;
}

.loading {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
}

.video {
    width: 600px;
    height: auto;
}

.links {
    position: fixed;
    width: 0%;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: all 0.7s ease;
    opacity: 0;
    visibility: hidden;
}

.links.apper {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    width: 30%;
}

.forZ {
    z-index: 2 !important;
}

.links a {
    text-decoration: none;
    color: #eee !important;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.links a:hover {
    color: rgb(212, 212, 212) !important;
}

.nav_links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.hamburger-menu {
    width: 60px;
    height: 57px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 9px 11px;
}

.move {
    position: absolute;
    right: 0;
}

.line1,
.line2,
.line3 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: ease-in 0.2s;
}

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-12px, 13px);
    transform: rotate(-45deg) translate(-12px, 13px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
}

.calculator {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    transition: all 0.7s ease;
}

.calculator_in {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7a00ff;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #f0932b;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #f0932b;
    border: #f9ca24 5px solid;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #f9ca24;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

.calculator_in p,
.calculator_in label {
    font-size: 20px;
    color: #fff;
}

.calculator_form {
    width: 100%;
    margin: 20px 0 0 0;
}

.calculator_form input {
    margin: 0 10px 0 0;
}

#money {
    text-align: right;
    width: 100%;
}

.formRangeDiv {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.inputRange {
    appearance: none;
    width: 30px;
    height: 30px;
    background: #7a00ff;
    border-radius: 50%;
}

.inputRange:checked {
    background: linear-gradient(135deg, #7844e9 0%, #0979ff 100%);
    box-sizing: border-box;
    border: 5px solid #e5edf5;
}

.calculator_apper {
    width: 100%;
    height: 100%;
    background: rgb(38, 105, 105);
    z-index: 20;
    opacity: 1;
    visibility: visible;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 60px;
    height: 57px;
    cursor: pointer;
    padding: 9px 11px;
    position: absolute;
    top: 3%;
    right: 0%;
    z-index: 25;
}

.burger_apper {
    display: flex;
}

.line-1 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: ease-in 0.2s;
    -webkit-transform: rotate(-45deg) translate(-12px, 13px);
    transform: rotate(-45deg) translate(-12px, 13px);
}

.line-3 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: ease-in 0.2s;
    -webkit-transform: rotate(45deg) translate(-1px, -2px);
    transform: rotate(45deg) translate(-1px, -2px);
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.main_img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    opacity: 0.5;
}

@media screen and (max-width:1300px) {
    .links.apper {
        width: 50%;
    }
    .burger {
        top: 3.1%;
    }
}

@media screen and (max-width:992px) {}

@media screen and (max-width:700px) {
    .video {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .links.apper {
        width: 100%;
    }
    .burger {
        top: 3.2%;
    }
}